<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit dolor nisl, aliquet gravida nisl laoreet eget. Aenean sit amet massa interdum, scelerisque arcu ac, tincidunt erat. Morbi tincidunt pretium eros vel sollicitudin. Vestibulum vehicula turpis sit amet ex egestas, ut egestas lectus dapibus. Fusce vulputate ornare sem, eu molestie sem tempor ut. Donec porta ligula sapien, sed bibendum tellus tristique nec. Nulla facilisi. Mauris commodo ligula eget nibh bibendum, sed convallis mi ullamcorper. Quisque vel lobortis ex, condimentum imperdiet nisi. Vivamus tempus turpis tellus, et luctus lorem molestie sed. Fusce eleifend elit ut diam vulputate ornare. Phasellus tellus tellus, varius a efficitur vitae, mollis in dolor.</p>
</article>